@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* :root {
    color-scheme: light dark;

    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }


  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
  } */

}

@layer components {
  [role=tablist]{
    @apply flex border-b text-lg font-medium bg-slate-100;
  }

  [role=tab]{
    @apply inline-flex px-6 py-3 gap-2 items-center border-b-2 bg-slate-50;
  }

  [role=tab][aria-current]{
    @apply text-purple-600 border-b-2 border-purple-600;
  }

  main {
    @apply grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%)
  }
}
